Flow5
[{"id":"a03213b5.d0d5d","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"f043a57d.f2be18","type":"http in","z":"a03213b5.d0d5d","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["60deda61.fdaa74","78b035db.290f3c"]]},{"id":"60deda61.fdaa74","type":"function","z":"a03213b5.d0d5d","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":160,"wires":[["f53e7acb.515c88"]]},{"id":"f53e7acb.515c88","type":"rpi-gpio out","z":"a03213b5.d0d5d","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":580,"y":240,"wires":[]},{"id":"78b035db.290f3c","type":"function","z":"a03213b5.d0d5d","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":80,"wires":[["e522e7dd.3cebc8","24e728b5.594ad8"]]},{"id":"e522e7dd.3cebc8","type":"http response","z":"a03213b5.d0d5d","name":"","statusCode":"","headers":{},"x":870,"y":160,"wires":[]},{"id":"24e728b5.594ad8","type":"debug","z":"a03213b5.d0d5d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":320,"wires":[]},{"id":"f0207463.db9748","type":"http in","z":"a03213b5.d0d5d","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["a02898ea.3f3428","82788ba5.5e2578"]]},{"id":"a02898ea.3f3428","type":"function","z":"a03213b5.d0d5d","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":320,"wires":[["f53e7acb.515c88"]]},{"id":"82788ba5.5e2578","type":"function","z":"a03213b5.d0d5d","name":"Return Status","func":"msg.payload =\" GPOI5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":400,"wires":[["e522e7dd.3cebc8","24e728b5.594ad8"]]}]
