Flow 4
[{"id":"730fcd8d.81d3d4","type":"http in","z":"5594eb14.ded134","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":190,"y":160,"wires":[["4a5c7cda.4435a4"]]},{"id":"4a5c7cda.4435a4","type":"function","z":"5594eb14.ded134","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":160,"wires":[["1a17e3bb.d7f47c","65858c3e.4564d4"]]},{"id":"a629a13f.4df","type":"function","z":"5594eb14.ded134","name":"Set GPIO","func":"global.set(\"GPIO\" , msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":240,"wires":[["65858c3e.4564d4"]]},{"id":"6147271b.03d2a8","type":"rpi-gpio in","z":"5594eb14.ded134","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":190,"y":320,"wires":[["a629a13f.4df"]]},{"id":"1a17e3bb.d7f47c","type":"http response","z":"5594eb14.ded134","name":"","statusCode":"","headers":{},"x":670,"y":160,"wires":[]},{"id":"65858c3e.4564d4","type":"debug","z":"5594eb14.ded134","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":680,"y":280,"wires":[]}]
